*{
    box-sizing: border-box;
}

.bhau{
    border: 1px solid rgb(170, 228, 183);
    background-color: rgb(245, 255, 227);
    border-radius: 4px;
    padding: 10px 40px;
    margin: 15px 30px;
    font-family: 'Lobster', cursive;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Tapestry', cursive;
}

header{
    text-align: center;
    background-color: rgb(195, 245, 134);
    text-decoration: double;
    border: 1px solid rgb(182, 186, 169);
    border-radius: 5px;
    color: rgb(220, 17, 179);
}

.heading:hover{
    color: rgb(210, 84, 25);
}
.heading{
    text-decoration: underline;
}

fieldset{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
}

h2{
    color: rgb(58, 79, 72);
}

input[type="text"],
input[type="date"],
input[type="radio"],
input[type="number"],
input[type="email"],
select,textarea{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(135, 136, 145);
}

input[type="submit"]{
    width: 100%;
    background-color: aquamarine;
    border: 1px solid rgb(144, 205, 151);
    border-radius: 50px;
    padding: 10px;
    color: rgb(7, 97, 4);
    cursor: pointer;
}
input[type="submit"]:hover{
    color: rgb(26, 40, 8);
    background-color: rgb(255, 220, 123);
}
.img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 10px;
}

a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}
a{
    color: #000;
}
a:hover{
    color: rgb(164, 1, 96);
}

footer{
    text-align: center;
    background-color: rgb(155, 255, 243);
    text-decoration: double;
    border: 1px solid rgb(182, 186, 169);
    border-radius: 5px;
    color: rgb(40, 55, 30);
    margin: 20px;
}
footer:hover{
    background-color: rgb(214, 254, 191);
    color: rgb(50, 32, 32);
}