@import url('https://fonts.googleapis.com/css2?family=Amita&family=Gotu&family=Halant:wght@300&family=Rozha+One&display=swap');

body{
    font-family: 'Amita', cursive;
    font-family: 'Gotu', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    margin: 0%;
    padding: 0%;
}

:root{
    --primary-color: #93c5fd;
    --secondary-color: #dbeafe;
    --off-white: #e7e5e4;
    --tertiary-color: #1e293b;

}

/* Header */
.divHead{
    background-color: var(--tertiary-color);
}

header{
    background-color: var(--primary-color);
    text-align: center;
    margin: 0%;
    border-top-right-radius: 4rem;
}

header h1{
    margin: 0%;
}

header #mainHead{
    padding: 1rem;
    padding-bottom: 0rem;
}

header #subHead{
    margin: 0%;
    padding-bottom: 1rem;
}

/* image */
.img{
    width: 70vw;
    margin: 1rem;
}

.h3{
    font-family: 'Amita', cursive;
}

/* section */
.section{
    margin: 0%;
    margin-bottom: 2rem;
    background-color: var(--secondary-color);
    border-top-right-radius: 4rem;
}

p, h3{
    margin: 0%;
}

/* School info */
.divOw{
    background-color: var(--off-white);
    padding: 1rem;
}

.imgSchool{
    border: solid var(--tertiary-color) 2px;
    border-radius: 1rem;
    padding: 2px;
}

.nameSchool{
    font-size: 3rem;
    color: var(--tertiary-color);
}

.basicInfo{
    padding-bottom: 2rem;
}

.sectionSI{
    text-align: left;
    margin: 0%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #d4d4d8;
}

.curriculum ul{
    list-style: none;
}

/* Links */
a{
    text-decoration: none;
    color: var(--tertiary-color);
}
.link{
    background-image: linear-gradient(#e7e5e4, #93c5fd);
    border: solid var(--tertiary-color) 1px;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem 1.7rem;
}

.link:hover{
    background-image: linear-gradient(#e7e5e4, #fca5a5);
}

/* Footer */
footer, footer a{
    background-color: var(--tertiary-color);
    color: var(--off-white);
    padding: 2rem;
}

footer a{
    margin: 1rem 3rem;
}